#jumbo {
    background-color: darksalmon;
    margin-top: 50px;
    border-radius: 25px;
    border: 2px black solid ;
}

#display-div {
    display: none;
    background-color: salmon;
    border-radius: 10px;
    border: 2px black solid;
}

#order-head {
    font-family: monospace;
    font-size: 25px;
    margin-left: 25px;
    text-decoration: underline brown;
    font-weight: bold;
}

#reset {
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    background-color:darkkhaki;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
}

#listitem {
    font-size: 18px;
    margin-left: 15px;
}

#total-price {
    font-size: 20px;
    margin-left: 15px;
}

#reset-two {
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    background-color:darkkhaki;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
}

#end-row {
    display: none;
}

#end-col {
    background-color: salmon;
    border-radius: 15px;
    border: black solid 2px;
}

#slogan {
    font-family: monospace;
    font-size: 25px;
}
 
#title {
    font-family: monospace;
    font-size: 75px;
    text-decoration: underline brown;
}

#chk-pic {
    display: none;
    width: 200px;
    height: 150px;
    border: brown 3px solid; 
    border-radius: 15px;
    margin-bottom: 10px;
}

#pep-pic {
    display: none;
    width: 200px;
    height: 150px;
    border: brown 3px solid; 
    border-radius: 15px;
    margin-bottom: 10px;
}

#bacon {
    display: none;
    width: 200px;
    height: 150px;
    border: brown 3px solid; 
    border-radius: 15px;
    margin-bottom: 10px;
}

#pep-pic-two {
    display: none;
    width: 200px;
    height: 150px;
    border: brown 3px solid; 
    border-radius: 15px;
    margin-bottom: 10px; 
}

#chk-pic-two {
    display: none;
    width: 200px;
    height: 150px;
    border: brown 3px solid; 
    border-radius: 15px;
    margin-bottom: 10px;
}

#bacon-two {
    display: none;
    width: 200px;
    height: 150px;
    border: brown 3px solid; 
    border-radius: 15px;
    margin-bottom: 10px;
}

#pic {
    height: 200px;
    width: 650px;
    float: right;
    border-radius: 18px;
    border: solid 2px black;
}

#small {
    font-size: 18px;
    font-weight: bold;
}

#large {
    font-size: 18px;
    font-weight: bold;
}

#size {
    background-color: blanchedalmond;
    font-family: monospace;
    border-radius: 7px;
    font-size: 15px;
    font-weight:bold;
}

#header-text {
    float: right;
}

#double-top-div {
    border: black 2px solid;
    display: none;
    background-color: salmon;
    border-radius: 10px;
}

#delivery{
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    background-color:darkkhaki;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;  
}

#delivery-two {
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    background-color:darkkhaki;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;   
}

#pep {
    font-size: 18px;
    font-weight: bold;
}

#bac{
    font-size: 18px;
    font-weight: bold;
}

#chk {
    font-size: 18px;
    font-weight: bold;
}

#nun {
    font-size: 18px;
    font-weight: bold;
}

#toppings {
    background-color: blanchedalmond;
    font-family: monospace;
    border-radius: 7px;
    font-size: 15px;
    font-weight:bold;
}

#toppingTwo {
    background-color: blanchedalmond;
    font-family: monospace;
    border-radius: 7px;
    font-size: 15px;
    font-weight:bold;
}

#add-btn {
    background-color: darkkhaki;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    font-size: 36px;
    float: right;
    
}

#reload-btn {
    margin-left: 25px;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color:darkkhaki;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;  
}

#pizza-disp {
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
}

#delivery-submit {
    margin-bottom: 15px;
    border-radius: 20px;
    background-color:darkkhaki;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;  
}

#pizza-disp-two {
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
}

#total-disp {
    font-size: 18px;
    font-family: monospace;
    margin-bottom: 15px;
    font-weight: bold;
}

#total-disp-two {
    font-size: 18px;
    font-family: monospace;
    margin-bottom: 15px;
    font-weight: bold;
}

body{
    background-color: brown;
}

#delivery-row {
display: none;
}

#delivery-column {
    background-color: salmon;
}

#name {
    margin-top: 15px;
}

#delivery-column {
    border-radius: 15px;
    border: black 2px solid;
}

#address-input {
    border-radius: 15px;
}

#name-input {
    border-radius: 15px;
}